body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightblue;
    align-items: center;
}

img {
    display: block;
}

.indexButtons {
    text-align: center;
    margin: 0.5ch;
    width: 20ch;
}

#blueBtn {
    height: 50px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

#menu {

   text-align: center; 
}